@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "忘记密码";
}

<div class="container" style="padding-top: 4rem; padding-bottom: 6rem;">
	<h3 class="text-center mb-5">忘记密码</h3>
	<div class="mx-auto col-md-3">
		<form method="post" asp-action="ResetPassword">
			<div class="mb-3">
				<label class="form-label">用户名</label>
				<input name="username" type="text" class="form-control" value="" required>
				<div class="invalid-feedback"></div>
			</div>
			<div class="mb-3">
				<label class="form-label">新密码</label>
				<input name="newPassword" type="password" class="form-control" value="" required>
				<div class="invalid-feedback"></div>
			</div>
			<div class="mb-3">
				<label class="form-label">确认新密码</label>
				<input name="confirmPassword" type="password" class="form-control" value="" required>
				<div class="invalid-feedback"></div>
			</div>
			<span style="color:red; font-size: 16px; ">@TempData["Message"]</span><hr />
			<div class="d-grid mb-3">
				<button type="submit" class="btn btn-primary">确定</button>
			</div>
		</form>
	</div>
</div>