@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var roles = User.FindFirst(ClaimTypes.Role)?.Value;
}
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AMS - @ViewData["Title"]</title>
	<!--网站图标icon-->
	<link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/asset/512/intangible-assets-trademark-knowledge-64.png">
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<!--页首及导览区块-->
	@*<nav id="header" class="sticky-top theme-colored navbar navbar-expand-lg navbar-dark">
	<div class="d-flex align-items-center container">
	<button aria-controls="navBarContent" id="navBarToggle" type="button" aria-label="Toggle navigation" class="answer-navBar me-2 navbar-toggler collapsed">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="d-flex justify-content-between align-items-center nav-grow flex-nowrap">
	<a class="lh-1 me-0 me-sm-3 navbar-brand" href="/Home/Index">
	<span>AMS</span>
	</a>
	<div class="d-flex lg-none align-items-center flex-lg-nowrap">
	<div class="flex-row navbar-nav">
	<a class="icon-link d-flex align-items-center justify-content-center p-0 me-3 position-relative nav-link" href="/users/notifications/inbox">
	<i class="br bi-bell-fill fs-4" title=""></i>
	</a>
	<a class="icon-link d-flex align-items-center justify-content-center p-0 me-3 position-relative nav-link" href="/users/notifications/achievement">
	<i class="br bi-trophy-fill fs-4" title=""></i>
	</a>
	</div>
	<div class="dropdown">
	<a class="no-toggle pointer dropdown-toggle" id="dropdown-basic" aria-expanded="false" variant="success">
	<img src="https://answer.zeabur.app/uploads/avatar/4RtvjABXLn7.jpg?s=96" width="36px" height="36px" class="rounded" alt="">
	</a>
	</div>
	</div>
	</div>
	<div class="me-auto navbar-collapse collapse" id="navBarContent">
	<hr class="hr lg-none mb-2" style="margin-top: 12px;">
	<div class="col-md-4">
	<div class="navbar-nav">
	<a class="nav-link" href="/Home/Index">主页</a>
	<a class="nav-link" href="/Member/AssetAdmin">资产管理</a>
	<a class="nav-link" href="/Admin/DepartmentAdmin">部门管理</a>
	<a class="nav-link" href="/Admin/CategoryAdmin">资产类别管理</a>
	<a class="nav-link active" href="/Home/Users" aria-current="page">用户</a>
	</div>
	</div>
	<hr class="hr lg-none mt-2">
	<div class="d-flex justify-content-center col-lg-4">
	<form action="/search" class="w-75 px-0 px-lg-2">
	<input placeholder="搜索" name="q" class="placeholder-search form-control" value="">
	</form>
	</div>
	<div class="lg-none mt-3 pb-1 nav-item">
	<a class="text-capitalize text-nowrap btn btn-light" href="/questions/ask">添加资产</a>
	</div>
	<div class="d-none d-lg-flex justify-content-start justify-content-sm-end col-lg-4">
	<div class="d-flex align-items-center flex-lg-nowrap navbar-nav">
	<div class="me-3 nav-item">
	<a class="text-capitalize text-nowrap btn btn-light" href="/questions/ask">添加资产</a>
	</div>
	<div class="flex-row navbar-nav">
	<a class="icon-link d-flex align-items-center justify-content-center p-0 me-3 position-relative nav-link" href="/users/notifications/inbox">
	<i class="br bi-bell-fill fs-4" title=""></i>
	</a>
	<a class="icon-link d-flex align-items-center justify-content-center p-0 me-3 position-relative nav-link" href="/users/notifications/achievement">
	<i class="br bi-trophy-fill fs-4" title=""></i>
	</a>
	</div>
	<div class="dropdown">
	<a class="no-toggle pointer dropdown-toggle" id="dropdown-basic" aria-expanded="false" variant="success">
	<img src="https://answer.zeabur.app/uploads/avatar/4RtvjABXLn7.jpg?s=96" width="36px" height="36px" class="rounded" alt="">
	</a>
	<div aria-labelledby="dropdown-basic" data-bs-popper="static" class="dropdown-menu dropdown-menu-end">
	<a href="/users/lindap" data-rr-ui-dropdown-item="" class="dropdown-item">用户主页</a>
	<a href="/users/settings/profile" data-rr-ui-dropdown-item="" class="dropdown-item">账号设置</a>
	<a href="/admin" data-rr-ui-dropdown-item="" class="dropdown-item">后台管理</a>
	<a href="/review" data-rr-ui-dropdown-item="" class="position-relative dropdown-item">审查</a>
	<hr class="dropdown-divider" role="separator">
	<a data-rr-ui-dropdown-item="" class="dropdown-item" role="button" tabindex="0" href="#">退出登录</a>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</nav>*@

	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background: linear-gradient(112deg,#36d1dc,#5b86e5);">
		<div class="container">
			<a class="navbar-brand" href="/Home/Index">固定资产管理</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link text-light" href="/Home/Index">首页</a>
					</li>
					<li class="nav-item">
						@if (roles == "admin")
						{
							<a class="nav-link text-light" href="/Asset/AssetAdmin">资产管理</a>
						}
						else
						{
							<a class="nav-link text-light" href="/Query/QueryAssetAdmin">资产管理</a>
						}
					</li>
					<li class="nav-item">
						@if (roles == "admin")
						{
							<a class="nav-link text-light" href="/Category/CategoryAdmin">资产类别管理</a>
						}
						else
						{
							<a class="nav-link text-light" href="/Query/QueryCategoryAdmin">资产类别管理</a>
						}
					</li>
					<li class="nav-item">
						@if (roles == "admin")
						{
							<a class="nav-link text-light" href="/Department/DepartmentAdmin">部门管理</a>
						}
						else
						{
							<a class="nav-link text-light" href="/Query/QueryDepartmentAdmin">部门管理</a>
						}
					</li>
					<li class="nav-item">
						@if (roles == "admin")
						{
							<a class="nav-link text-light" href="/Employee/EmployeeAdmin">员工管理</a>
						}
						else
						{
							<a class="nav-link text-light" href="/Query/QueryCategoryAdmin">员工管理</a>
						}
					</li>
				</ul>
				<!--登录-->
				@if (User.Identity.IsAuthenticated){
					<span style="color:#fff;">@User.Identity.Name 欢迎登录！</span>
					<a href="/Home/Logout" style="color:yellow">[注销]</a>
				}	
			</div>
		</div>
	</nav>
	<!--页首及导览区块结束-->
	<!--内容区块-->
	<div>
		@RenderBody()
	</div>
	<!--内容区块结束-->
	<!--页脚区块-->
	<footer class="bg-light py-3">
		<div class="container">
			<p class="text-center mb-0 fs-14 text-secondary">
				基于
				<a href="#" target="_blank">ASP.NET Core MVC</a> - 固定资产管理系统软件。<br>Made with love © 2023 Sunshine.
			</p>
		</div>
	</footer>
	<!--页脚区块结束-->
</body>
</html>