@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using AMS202024111207.Models
@using System.Security.Claims
@inject AmsDbContext _context

@{
	var roles = User.FindFirst(ClaimTypes.Role)?.Value;
	var employee = _context.Employees.FirstOrDefault(e => e.UserName == User.Identity.Name);  //取当前用户的详细信息
	string avatar = "https://dn-qiniu-avatar.qbox.me/avatar/";
	if (employee != null)
	{
		if (employee.Qqemail != null)
		{
			avatar = $"https://q1.qlogo.cn/g?b=qq&nk={employee.Qqemail.Split('@')[0]}&s=100&t=1547904810"; //通过API取得QQ头像
		}
	}

}
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<title>AssetPro - @ViewData["Title"]</title>
	<!--网站图标icon-->
	<link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/asset/512/intangible-assets-trademark-knowledge-64.png">
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/global.css" />
	<link rel="stylesheet" type="text/css" href="~/lib/fancybox/jquery.fancybox.min.css">
	<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
	<!--页首及导览区块-->
	@*<nav class="navbar navbar-expand-md navbar-dark sticky-lg-top" style="background: #3094f1;">
		<div class="container">
			<a class="navbar-brand" href="/Home/Index">AssetPro</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link text-light" href="/Home/Index">首页</a>
					</li>
					<li class="nav-item">
						@if (roles == "Admin")
						{
							<a class="nav-link text-light" href="/Asset/AssetAdmin">资产管理</a>
						}
						else
						{
							<a class="nav-link text-light" href="/Query/QueryAsset">资产</a>
						}
					</li>
					<li class="nav-item">
						@if (roles == "Admin")
						{
							<a class="nav-link text-light" href="/Category/CategoryAdmin">资产类别管理</a>
						}
						else
						{
							<a class="nav-link text-light" href="/Query/QueryCategory">资产类别</a>
						}
					</li>
					<li class="nav-item">
						@if (roles == "Admin")
						{
							<a class="nav-link text-light" href="/Department/DepartmentAdmin">部门管理</a>
						}
						else
						{
							<a class="nav-link text-light" href="/Query/QueryDepartment">部门</a>
						}
					</li>
					<li class="nav-item">
						@if (roles == "Admin")
						{
							<a class="nav-link text-light" href="/Employee/EmployeeAdmin">员工管理</a>
						}
						else
						{
							<a class="nav-link text-light" href="/Query/QueryEmployee">员工</a>
						}
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/Home/About">关于</a>
					</li>
				</ul>
				<!--登录-->
				@if (User.Identity.IsAuthenticated)
				{
					<span style="color:#fff;">@User.Identity.Name 欢迎登录！</span>
					<div class="d-none d-lg-flex justify-content-start justify-content-sm-end">
						<div class="d-flex align-items-center flex-lg-nowrap navbar-nav">
							<div class="nav-item dropdown">
								<a class="nav-link no-toggle pointer dropdown-toggle" id="dropdown-basic"  variant="success" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
									<img src=@avatar width="36px" height="36px" class="rounded" alt="">
								</a>
								<div aria-labelledby="dropdown-basic" data-bs-popper="static" class="dropdown-menu dropdown-menu-end">
									<a href="/Home/Users?id=@employee.EmployeeId" data-rr-ui-dropdown-item="" class="dropdown-item">用户主页</a>
									<a href="/Home/Settings?id=@employee.EmployeeId" data-rr-ui-dropdown-item="" class="dropdown-item">账号设置</a>
									<a href="#!" data-rr-ui-dropdown-item="" class="position-relative dropdown-item">审查</a>
									<hr class="dropdown-divider" role="separator">
									<a data-rr-ui-dropdown-item="" class="dropdown-item" role="button" tabindex="0" href="/Home/Logout">退出登录</a>
								</div>
							</div>
						</div>
					</div>
				}
				else
				{
					<ul class="navbar-nav flex-grow-2">
						<li class="nav-item">
							<a class="nav-link text-light" href="/Home/Login"><i class="bi bi-person-circle"></i> 登录</a>
						</li>
					</ul>
				}
			</div>
		</div>
	</nav>*@

	<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary shadow-lg" id="navbar" >
		<div class="container">
			<a class="navbar-brand fw-bold" href="/Home/Index">AssetPro</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link" href="/Home/Index">首页</a>
					</li>
					<li class="nav-item">
						@if (roles == "Admin")
						{
							<a class="nav-link" href="/Asset/AssetAdmin">资产管理</a>
						}
						else
						{
							<a class="nav-link" href="/Query/QueryAsset">资产</a>
						}
					</li>
					<li class="nav-item">
						@if (roles == "Admin")
						{
							<a class="nav-link" href="/Category/CategoryAdmin">资产类别管理</a>
						}
						else
						{
							<a class="nav-link" href="/Query/QueryCategory">资产类别</a>
						}
					</li>
					<li class="nav-item">
						@if (roles == "Admin")
						{
							<a class="nav-link" href="/Department/DepartmentAdmin">部门管理</a>
						}
						else
						{
							<a class="nav-link" href="/Query/QueryDepartment">部门</a>
						}
					</li>
					<li class="nav-item">
						@if (roles == "Admin")
						{
							<a class="nav-link" href="/Employee/EmployeeAdmin">员工管理</a>
						}
						else
						{
							<a class="nav-link" href="/Query/QueryEmployee">员工</a>
						}
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/Home/About">关于</a>
					</li>
				</ul>

				<div class="d-flex align-items-center ms-auto">

					@if (User.Identity.IsAuthenticated)
					{
						<div class="d-flex align-items-center navbar-nav">
							<span class="me-3" style="color: #fff;">欢迎，@User.Identity.Name！</span>
							<div class="dropdown">
								<button class="btn btn-link dropdown-toggle no-arrow" type="button" id="navbarProfileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="@avatar" width="35" height="35" class="rounded-circle" alt="">
								</button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarProfileDropdown">
									<a href="/Home/Users?id=@employee.EmployeeId" class="dropdown-item"><i class="bi bi-person me-2"></i>用户主页</a>
									<a href="/Home/Settings?id=@employee.EmployeeId" class="dropdown-item"><i class="bi bi-gear me-2"></i>账号设置</a>
									<button class="dropdown-item" type="button"><i class="bi bi-exclamation-triangle me-2"></i>审查</button>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/Home/Logout"><i class="bi bi-box-arrow-right me-2"></i>退出登录</a>
								</div>
							</div>
						</div>
					}
					else
					{
						<a class="btn btn-light" href="/Home/Login"><i class="bi bi-person-circle me-2"></i>登录</a>
					}
				</div>
			</div>
		</div>
	</nav>
	<!--页首及导览区块结束-->
	<!--内容区块-->
	<div>
		@RenderBody()
	</div>
	<!--内容区块结束-->
	<!--页脚区块-->
	<footer class="bg-light py-4 mt-auto footer">
		<div class="container px-5">
			<div class="row align-items-center justify-content-between flex-column flex-sm-row">
				<div class="col-auto"><div class="small m-0">Copyright &copy; AssetPro 2023 版权所有。保留所有权利。</div></div>
				<div class="col-auto">
					<a class="small" href="#!" style="text-decoration: none; ">Privacy</a>
					<span class="mx-1">&middot;</span>
					<a class="small" href="#!" style="text-decoration: none; ">Terms</a>
					<span class="mx-1">&middot;</span>
					<a class="small" href="#!" style="text-decoration: none; ">Contact</a>
					<span class="mx-1">&middot;</span>
					<a class="small" href="#" style="text-decoration: none; ">Top</a>
				</div>
			</div>
		</div>
	</footer>
	<!--页脚区块结束-->

	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script> <!--下拉框-->
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/lib/fancybox/jquery.fancybox.min.js"></script>
	<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
	<script>
		//图片放大
		Fancybox.bind('[data-fancybox="gallery"]', {
			// Options will go here
			selector: '[data-fancybox="images"]',
			loop: true
		});
		$("[data-fancybox]").fancybox({
			// Options will go here
		});
	</script>
</body>
</html>